html{
    
    overflow-x: hidden;

}
@font-face {
    font-family: Poppins;
    src: url("../admin/fonts/poppins/poppins-v5-latin-regular.ttf");
}

*{

    font-family: Poppins;
    
}

body{
    background-color: rgb(238, 236, 255);
    overflow-x: hidden;
}

/* Header */
.header{
    margin-top: 4em;
    margin-bottom: 8em;
}

/* Nav */

nav ul li a{
    color: white !important;
    font-weight: 400 !important;
    
}
.deconnexion{
    color:#ffc011 !important;
    
    
}
/* Btn */
button{
	box-shadow: none !important;
    border: none !important;
    
}
/* Home */
.home{
    padding: 0 3em;
    border-radius: 20px;
    padding-bottom: 1em;
    margin-top : 5em !important;
    padding-bottom: 4em;
    margin-bottom: 4em;

}
.home2{
    padding: 0 3em;
    border-radius: 20px;
    margin-bottom: 3em !important;

}

/* Formations */
.formations{
    padding: 3em 3em;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 15px;
}
.formationsTitre{
    margin-top: 6em;
    padding: 0 3em;
    
}
.articles{
    border-radius: 20px;
}
/* Bouton trier articles */
.trierBtn{
    cursor: pointer;
}
.btnContent{
    margin-top: 3em;
    transition: all 0.4s;
    display: none;
    opacity: 0;
}
/* toggle class */
.btnContentToggle{
    margin-top: 0.5em;
    
    opacity: 1;
}
.signupFooter{
   margin-top: 15em; 
}
.aboutFooter{
    margin-top: 12em;
}
.contactFooter{
    margin-top: 15em;
}
.categoriesFooter{
    margin-top: 15em;
}
.success-popup{
    display: none;
    
}
/* A propos */
.about{
    margin-top: 6em;
}
.aboutFooter{
    margin-top: 14em;
}

/* Section header home */

.colHeader{
    padding: 0 4em;
}

.headerLogo{
    padding-left: 4em; 
    
}

.creerCompte a{
    color: #211061;
}
.creerCompte{
    border: 1px solid #211061;
    color: #211061;
    
}
.creerCompte:hover{
    border: 1px solid #211061 !important;
    color: #ffffff !important;
    background-color: #211061 !important;
    
}

.voirAstuces{
    background-color: #211061;
    border: 1px solid #211061;
    color:white;
    
}
.voirAstuces:hover{
    border: 1px solid #211061 !important;
    color: #211061 !important;
    
}

.homeFormations{
    padding-top: 3em;
    margin-bottom: 4em;
}


/* Categories */
.categories{
  margin-top: 6em;
}

/* Articles */
.articles{
    margin-top: 5em;
}

.articlesFooter{
    margin-top: 4em;
}

.article{
    width: 1080px;
    margin-bottom: 3em;
}

/* Signup */
.signup{
    margin-top: 6em;
}
.signup input{
  border: 1px solid #211061;
    
}

/* Login */
.login input{
    border: 1px solid #211061;
}

/* Contact */
.contact{
  margin-top: 6em !important;
}

/* Form add_article */
.add-article{
    height: 90vh;
    margin-bottom: 15em;
}

/* Edit comment */
.edit-comment{
    margin-top: 6.8em;
}

/* Media 1030 */

@media screen and (max-width: 1030px) {
    .logoContact{
        display: none;
    }
    .logoLogin{
        display: none;
    }
    .logoSignin{
        display: none;
    }
    .logoAbout{
        display: none;
    }

    .interrogation{
        display: none;
    }
  
}

/* Media 1130 */

@media screen and (max-width: 1120px) {
    .headerLogo{
        display: none;
        
    }
    .article{
        width: 100%;
    }
    .navbar .nav-item{
        padding: 0 1.5em;
    }
      /* btn */
      .search{
        margin-top: 0.5em;
    }
    .searchBtn{
        margin-top: 0.4em;
    }

}

/* Media 460 */

@media screen and (max-width: 460px) {
    /* Section header home */
    /* Header */
    .header{
        margin-top: 3em;
    }

    .colHeader{
        padding: 0 2em;
    }
        /* Home */
    .home{
        padding: 0 1em;
        border-radius: 20px;
        padding-bottom: 3em;
        margin-top : -1em !important;
    
    }
    .home2{
        padding: 0 1em;
        border-radius: 20px;
        margin-bottom: 4em !important;
        margin-top : -1em !important;

    }
    .interrogation{
        display: none;
    }
    /* btn */
 
    .homeFormations{
    padding-top: 3em;
    margin-bottom: 4em;
    margin-top: 4em;
    
    }
    .trier{
        margin-bottom: 0.8em;
        width: 98%;
    }
    
    
    .reply{
        width: 100%;
    }
    /* profil commentaire */
    .nomAuteur{
        margin-top: 8px;
    }


}

