html{
    
    overflow-x: hidden;

}
@font-face {
    font-family: Poppins;
    src: url("../admin/fonts/poppins/poppins-v5-latin-regultf");
}
*{

    font-family: Poppins;
}

body{
    background-color: rgb(238, 236, 255);
    overflow-x: hidden;
}
.success-popup{
    display: none;
    
}
/* A propos */
.about{
    margin-bottom: 10em;
}

/* Home */
.home{
    margin-top: 3em;
    margin-bottom: 3em;
}

/* Section header home */

.colHeader{
    padding: 0 2em;
}

.creerCompte{
    transform: translateX(-1em);
}
.voirAstuces{
    transform: translateX(-1em);
}

/* Categories */
.categories{
  
    margin-bottom: 5.5em;
}

/* Signup */
.signup input{
  border: 1px solid #211061;
    
}

/* Login */
.login input{
    border: 1px solid #211061;
}

/* Contact */
.contact{
  
    height: 83vh;
}

/* Form add_article */
.add-article{
    height: 90vh;
    margin-bottom: 15em;
}

/* Media 1030 */

@media screen and (max-width: 1030px) {
    .logoContact{
        display: none;
    }
    .logoLogin{
        display: none;
    }
    .logoSignin{
        display: none;
    }
    .logoAbout{
        display: none;
    }
    .navbar .nav-item{
        padding: 0 1.5em;
    }
}

/* Media 1130 */

@media screen and (max-width: 1120px) {
    .headerLogo{
        display: none;
    }

}

/* Media 460 */

@media screen and (max-width: 460px) {
    .creerCompte{
        margin-left: 1em;
    }
    .voirAstuces{
        margin-left: 1em;
        
    }

}


